body{
  margin:100px;
  font-family:'open sans';
  font-weight:300;
  font-size:16px;
  background-color: #2d2d2d;
}

.riobtn{
  text-decoration:none;
  background-color:white;
  color:black;
  padding:10px 30px;
  border-bottom:3px solid #828282;
  
}

.riobtn:active{
  border-width:0px;
  position:relative;
  top:2px;
}